table {
    background-color: white;    
    width: 100%;
    border-collapse: collapse;
  
  }
  
  th, td {
    padding: 20px;
  
  }
  
  thead {
    background-color: teal;
    border-bottom: solid 5px black;
    color: white;
  }
  
  tr:nth-child(even){
    background-color: #ddd;
  }
  
  tr:hover td {
    background-color: rgb(27, 190, 219);
    color: white;
  }